#footer{
    clear: both;
    width: 888px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 16px 24px;
    background-color: #1b1d1d;
    border-top: solid #272a2a 1px;
    border-left: solid #272a2a 1px;
    border-right: solid #272a2a 1px;
    color:#908d8b;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}