@import 'nav';
@import 'footer';
@import 'hero';
$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background-image: url(http://cdn.dota2.com/apps/dota2/images/blog/ti9_bg.jpg);
  background-color: #000000;
  background-position-x: center;
  background-position-y: top;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(http://cdn.dota2.com/apps/dota2/images/blog/ti9_bg.jpg);

  /* color: $bodyColor;
  font-family: $bodyFont; */

  margin:0;
}

.button {
  color: red;

  /* &:hover {
    
  } */
}
