.aegis,.f2p,.trueSight{
  margin: 20% 0 20% 0;
}

h1,p,h2,h3{
  margin: auto;
}



* {
  box-sizing: border-box;
}

/* !!! TABLE !!!  */
table {
  padding: 0;
  align-content: center;
  margin: auto;
}
table tr {
  border-top: 2px solid #777474;
  
  margin: 0;
  padding: 0;
}
table tr th {
  font-weight: bold;
  border: 2px solid #777474;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 2px solid #777474;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}

.trueSight{
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(300px);
}
.f2p{
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(-300px);
}
.ti-table-header{
  transition: all 1.5s ease-in-out;
  opacity: 0;
}

.visible{
  transform: translateX(0);
  opacity: 1;
}

